.header-title {
    display: flex;
    position: absolute;
    bottom: 184px;
    left: 50%;
    transform: translateX(-50%);
}
.site-title img{
max-width: 300px !important;
}
.footer-logo img{
    max-width: 90% !important;
}
#tp-widget-wrapper{
    text-align: left !important;
    margin-top: 5px !important;
}