.header-title {
    display: flex;
    position: absolute;
    bottom: 124px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.site-title img {
    max-width: 300px !important;
}
.footer-logo img {
    max-width: 90% !important;
}
.visible {
    text-align: left !important;
    margin-top: 10px !important;
}
/* Override Trustpilot widget styles */

/* Example: Change the font size of the review text */
.tp-review__content {
    font-size: 16px !important; /* Use !important to override Trustpilot's styles */
}

/* Example: Change the color of the star rating */
.tp-stars .tp-star {
    color: gold !important; /* Use !important to override Trustpilot's styles */
}

/* Example: Adjust the spacing between elements */
.tp-review {
    margin-bottom: 20px; /* Adjust as needed */
}
.sub-title-text {
    font-size: 30px !important;
}
@media screen and (max-width: 575px) {
    .home-banner-slider {
        height: 100% !important;
    }
    .header-title {
        bottom: 40px !important;
    }
}
#tp-widget-wrapper {
    text-align: left !important;
}
.footer-primary-text {
    color: #fff !important;
}
.footer-primary-text:hover {
    color: #174b90 !important;
}
.package-image-holder {
    height: 300px;
}
.package-image-holder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-image {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.featured-post{
    height: 240px !important;
}
.featured-post img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.post-thumb a{
    height: 64px !important;
}
.post-thumb img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}
