.header-title {
    display: flex;
    position: absolute;
    bottom: 184px;
    left: 50%;
    transform: translateX(-50%);
}
.site-title img{
max-width: 300px !important;
}
.footer-logo img{
    max-width: 90% !important;
}
.visible{
    text-align: left !important;
    margin-top: 10px !important;
}
/* Override Trustpilot widget styles */

/* Example: Change the font size of the review text */
.tp-review__content {
    font-size: 16px !important; /* Use !important to override Trustpilot's styles */
}

/* Example: Change the color of the star rating */
.tp-stars .tp-star {
    color: gold !important; /* Use !important to override Trustpilot's styles */
}

/* Example: Adjust the spacing between elements */
.tp-review {
    margin-bottom: 20px; /* Adjust as needed */
}
.sub-title-text{
    font-size: 30px !important;
}